{% extends 'accounts/index.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 class="text-center border rounded p-2">Password confirm</h5>
<form class="col-12 form-registration border rounded pt-2" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Change password
        </button>
    </div>
</form>

{% endblock content %}

{% block title %}
    <title>Password Reset Confirm</title>
{% endblock title %}
