{% block footer %}

<footer class="footer mt-auto footer-dark bg-dark text-light">
    <div class="container">
        <div class="row text-center pt-3">
            <div class="col">
                <a href="{% url 'about' %}" class="footer-about mr-5 text-light">About</a>
                <a href="#" class="footer-contact mr-5 text-light">Contact</a>
                <a href="https://github.com/dieisabel/proggy"
                   class="footer-github mr-5 text-light">
                   GitHub
                </a>
                <a href="#" class="footer-credits text-light">Credits</a>
            </div>
        </div>
        <div class="row">
            <div class="col text-center p-3">
                © 2021 Copyright dieisabel
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}
