.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
}
