.card__content {
    line-height: 1.5;
    padding: 15px;

    & .card__text {
        font-size: 0.9em;
        overflow: hidden;
        max-height: 150px;
    }

    & .card__title {
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 15px;
    }
}
