{% extends 'blog/index.html' %}

{% block content %}

<div class="card mb-5">
    <h5 class="card-header">{{ blog.author }}</h5>
    <div class="card-body">
        {% if blog.author == request.user %}
        <div class="card-panel mb-2">
            <a href="{% url 'blog:posts:update' blog.id %}"
               class="btn btn-primary">
                Update
            </a>
            <a href="{% url 'blog:posts:delete' blog.id %}"
               class="btn btn-primary">
                Delete
            </a>
        </div>
        {% endif %}
        <h5 class="card-title">{{ blog.title }}</h5>
        <p class="card-text">
            {{ blog.content }}
        </p>
        <div class="tags mt-3">
            {% for tag in blog.tags.all %}
                <a class="badge badge-primary" href="{% url 'blog:blogs' %}?tag_name={{ tag.name }}">
                    {{ tag.name }}
                </a>
            {% endfor %}
        </div>
    </div>
    <footer class="card-footer d-flex justify-content-between">
        <span class="card-rating">
            {{ blog.rating }}
            <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <span class="card-creation-date">{{ blog.created_at }}</span>
    </footer>
</div>

{% if user.is_authenticated %}
    <div class="input-group flex-nowrap mb-5">
        <form method="POST" class="d-flex flex-row">
            {% csrf_token %}
            <textarea class="form-control mr-3" aria-label="With textarea" name="comment_content"></textarea>
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Comment</button>
        </form>
    </div>
{% endif %}

<div class="comments">
    {% for comment in blog.comment_set.all %}
        <div class="media border mb-3 p-3">
            <img src="{{ comment.author.profile.image.url }}"
                 class="mr-3 rounded-circle"
                 alt="{{ comment.author.username }} profile pic"
                 style="height: 100px;
                        width: 100px;
                        object-fit: cover;
                        object-position: top;">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.author.username }}</h5>
                <p>{{ comment.content }}</p>
                <span class="footer">{{ comment.date }}</span>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock content %}

{% block title %}
    <title>Proggy | {{ blog.title }}</title>
{% endblock title %}

