.card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @import 'card__image';
    @import 'card__content';
    @import 'card__info';
}
