.profile {
    margin: 0 auto;
    max-width: 1100px;
    min-height: 500px ;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;

    & .left {
        width: 30%;
        background-color: black;

        & .avatar {
            border-radius: 50%;
            display: block;
            margin: 50px auto;
        }
    }

    & .right {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;

        & .info--list {
            list-style-type: none;
            padding: 100px;

            .info__element {
                margin: 20px 0px;
            }

            .info__element:first-child {
                margin-bottom: 20px;
            }

            & .info__blogs {
                list-style-type: none;

                & .blog {
                    margin: 20px 0px;
                }
            }
        }
    }
}
