{% load static %}

{% block head %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'blog/css/style.min.css' %}">
<link type="image/png" rel="icon" href="{% static 'blog/assets/icons/favicon/favicon.png' %}">
<link type="image/x-icon" rel="shortcut icon" href="{% static 'blog/assets/icons/favicon/favicon.ico' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

{% endblock head %}
