.cards {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    font-family: 'Roboto', sans-serif;

    & .card {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & .card__image {
            width:100%;
            display: block;
        }

        & .card__content {
            line-height: 1.5;
            padding: 15px;

            & .card__text {
                font-size: 0.9em;
                overflow: hidden;
                max-height: 150px;
            }

            & .card__title {
                font-size: 1.4em;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }

        & .card__info {
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #eeeeee;
            font-size: 0.8em;
            border-bottom: 2px solid #cccccc;
        }
    }
}
