.cards {
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 50px;
    font-family: 'Roboto', sans-serif;

    @import './card/card';
}
