{% extends 'blog/index.html' %}

{% block content %}

<div>
    <h5>This is a Proggy!</h5>
    <p>
        Proggy is a blog dedicated to programming and everything related. Or something else.
        Here you can find various articles about programming, and everything related to it.
        Also here I will talk about my personal projects and ideas. So enjoy your reading :P
    </p>

    <h5>About author</h5>
    <p>
        <ul>
            <li>
                Konstantine Kadyrov - Python Back-end developer
            </li>
            <li>
                <a href="#" target="_blank">Portfolio (in progress)</a>
            </li>
            <li>
                <a href="https://github.com/dieisabel" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="#">LinkedIn (in progress)</a>
            </li>
            <li>
                <a href="#">CV (in progress)</a>
            </li>
        </ul>
    </p>
</div>

{% endblock content %}
