{% extends 'blog/index.html' %}

{% block content %}

{% for blog in blogs %}
<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-author">{{ blog.author }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.brief_description }}</p>
                <a href="{% url 'blog-blog' blog.id %}"
                   class="btn btn-primary stretched-link">
                   Read
                </a>
            </div>
            <footer class="card-footer d-flex justify-content-between">
                <span class="card-rating">
                    {{ blog.rating }}
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
                <span class="card-creation-date">{{ blog.created_at }}</span>
            </footer>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}
