{% extends 'blog/index.html' %}

{% block content %}

<div class="wrapper mb-5">
    <form class="form-inline" method="GET" action="{% url 'blog-blogs' %}">
        <input class="form-control mr-sm-2"
               name="tag_name"
               type="search"
               placeholder="Search by tag"
               aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>

{% for blog in blogs %}
<div class="row mb-5">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h5 class="card-author">{{ blog.author }}</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.brief_description }}</p>
                <a href="{% url 'blog-blog' blog.id %}"
                   class="btn btn-primary stretched-link">
                   Read
                </a>
                <div class="tags mt-3">
                    {% for tag in blog.tags.all %}
                        <span class="badge badge-primary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
            <footer class="card-footer d-flex justify-content-between">
                <span class="card-rating">
                    {{ blog.rating }}
                    <i class="fa fa-star" aria-hidden="true"></i>
                </span>
                <span class="card-creation-date">{{ blog.created_at }}</span>
            </footer>
        </div>
    </div>
</div>
{% endfor %}

{% if blogs and is_paginated %}
    <nav>
        <ul class="pagination mb-5 justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'blog-blogs' %}?page=1">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'blog-blogs' %}?page={{ page_obj.previous_page_number }}">
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <a class="page-link"
                           href="{% url 'blog-blogs' %}?page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'blog-blogs' %}?page={{ num }}">
                            {{ num }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'blog-blogs' %}?page={{ page_obj.next_page_number }}">
                        Next
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="{% url 'blog-blogs' %}?page={{ paginator.num_pages }}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% endblock content %}
