.footer {
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    padding: 17px;

    & .footer__text {
        font-family: 'Roboto', sans-serif;
        color: white;
    }
}
