* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;

    &::before, &::after {
        box-sizing: border-box;
    }
}

a {
    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }
}
