@font-face {
    // Roboto Bold
    font-family: 'Roboto';
    src: url("../assets/fonts/roboto-bold/roboto-bold.woff2") format('woff2'),
         url("../assets/fonts/roboto-bold/roboto-bold.woff")  format('woff'),
         url("../assets/fonts/roboto-bold/roboto-bold.ttf") format('truetype'),url("../assets/fonts/roboto-bold/roboto-bold.eot")
         format('embedded-opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    // Roboto Regular
    font-family: 'Roboto';
    src: url("../assets/fonts/roboto-regular/roboto-regular.woff2")
         format('woff2'),
         url("../assets/fonts/roboto-regular/roboto-regular.woff")
         format('woff'),
         url("../assets/fonts/roboto-regular/roboto-regular.ttf")
         format('truetype'),
         url("../assets/fonts/roboto-regular/roboto-regular.eot")
         format('embedded-opentype');
    font-weight: 400;
    font-style: normal;
}
