{% extends 'blog/index.html' %}

{% block content %}

<div class="cards">

    {% for blog in blogs %}
    <div class="card">
        <img src="https://fakeimg.pl/300x300/ff0000/" class="card__image">
        <div class="card__content">
            <div class="card__title">
                {{ blog.title }}
            </div>
            <div class="card__text">
                {{ blog.text }}
            </div>
        </div>
        <div class="card__info">
            <div class="card__rating">
                {{ blog.rating }}
            </div>
            <div class="card__link">
                <a href="#">{{ blog.link }}</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %}
