<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'blog/base/base_head.html' %}
</head>

<body>
    <div class="registration">
        <form action="#" method="POST">
            <label for="login">Login</label>
            <input type="text" name="login" placeholder="Enter login">

            <label for="email">E-mail</label>
            <input type="text" placeholder="Enter e-mail">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Enter password">

            <label for="confirm password">Confirm password</label>
            <input type="password" name="confirm password" placeholder="Confirm password">

            <input type="submit" name="submit">

        </form>
    </div>
</body>

</html>
