{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'blog/base/base_head.html' %}
</head>

<body>
    <div class="container min-vh-100">
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div style="width: 500px;">
                <h5 class="text-center border rounded p-2">Login</h5>
                <form action="{% url 'accounts-login' %}"
                      method="POST"
                      class="col-12 form-registration border rounded pt-2">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            Sign In
                        </button>
                    </div>
                </form>
                <p class="text-center border rounded p-2 mt-2 mb-2">
                    Doesn't have an account?
                    <a href="{% url 'accounts-register' %}">
                        Register
                    </a>
                </p>
                <div class="">
                    <a href="{% url 'blog-blogs' %}"
                       class="btn btn-outline-primary w-100">
                        Back to blogs
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
