{% extends 'accounts/index.html' %}

{% load crispy_forms_tags %}

{% block content %}

<h5 class="text-center border rounded p-2">Login</h5>
<form action="{% url 'accounts:auth:login' %}"
      method="POST"
      class="col-12 form-registration border rounded pt-2">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="hidden" name="next" value="{{ next }}">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Sign In
        </button>
    </div>
</form>
<p class="text-center border rounded p-2 mt-2 mb-2">
    Doesn't have an account?
    <a href="{% url 'accounts:auth:register' %}">
        Register
    </a>
</p>
<div class="">
    <a href="{% url 'blog:blogs' %}" class="btn btn-outline-primary w-100">
        Back to blogs
    </a>
</div>

{% endblock content %}
