{% extends 'accounts/index.html' %}

{% block content %}

{% load crispy_forms_tags %}

<h5 class="text-center border rounded p-2">Registration</h5>
<form action="{% url 'accounts-register' %}" method="POST" class="col-12 form-registration border rounded pt-2">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            Register
        </button>
    </div>
</form>
<p class="text-center border rounded p-2 mt-2 mb-2">
    Already have an account?
    <a href="{% url 'accounts-login' %}">
        Log In
    </a>
</p>
<div class="">
    <a href="{% url 'blog-blogs' %}" class="btn btn-outline-primary w-100">
        Back to blogs
    </a>
</div>

{% endblock content %}
