{% extends 'blog/index.html' %}

{% block content %}

<div class="card text-center mb-5">
    <div class="card-header">
        <ul class="nav nav-pills nav-fill card-header-pills">
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="{% url 'accounts-profile-bio' %}">Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-dark"
                   href="{% url 'accounts-profile-blogs' %}">Blogs</a>
            </li>
        </ul>
    </div>

    <div class="card-body">
        {% for blog in object_list %}
            <div class="row mt-4">
                <div class="col">
                    <div class="card text-left">
                        <div class="card-header">
                            <h5 class="card-author">{{ blog.author }}</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">
                                {{ blog.brief_description }}
                            </p>
                            <a href="{% url 'blog-blog' blog.id %}"
                               class="btn btn-primary stretched-link">
                               Read
                            </a>
                        </div>
                        <footer class="card-footer d-flex justify-content-between">
                            <span class="card-rating">
                                {{ blog.rating }}
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="card-creation-date">
                                {{ blog.created_at }}
                            </span>
                        </footer>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
