{% extends 'blog/index.html' %}

{% block content %}

<div class="card text-center mb-5">
    <div class="card-header">
        <ul class="nav nav-pills nav-fill card-header-pills">
            <li class="nav-item">
                <a class="nav-link active bg-dark"
                   href="{% url 'accounts-profile-bio' %}">Bio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"
                   href="{% url 'accounts-profile-blogs' %}">Blogs</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl mb-4">
                <div class="card-body-image" style="max-width: 1000px;">
                    <img src="{{ user.profile.image.url }}" alt="{{ user.username }} profile image"
                        class="img-fluid rounded mw-50 mh-50">
                </div>
                <a href="{% url 'accounts-profile-edit' %}"
                   type="button"
                   class="btn btn-outline-secondary w-100 mt-4">
                    Edit
                </a>
            </div>
            <div class="col">
                <h5 class="text-uppercase text-center mb-3">
                    {{ user.username }}
                </h5>
                <div class="card-body-bio text-left">
                    <p>
                        {% if user.first_name or user.last_name %}
                            <i class="fa fa-address-card"
                               aria-hidden="true"></i>
                            {{ user.first_name}} {{ user.last_name }}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.profile.birthday %}
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            {{ user.profile.birthday }}
                        {% endif %}
                    </p>
                    <p></p>
                    <p>
                        {% if user.profile.gender == 'M' %}
                            <i class="fa fa-mars" aria-hidden="true"></i>
                            {{ user.profile.gender }}
                        {% elif user.profile.gender == 'F' %}
                            <i class="fa fa-venus" aria-hidden="true"></i>
                            {{ user.profile.gender }}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.email %}
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            {{ user.email }}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.profile.bio %}
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ user.profile.bio }}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.profile.bio %}
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            {{ user.profile.twitter_url }}
                        {% endif %}
                    </p>
                    <p>
                        {% if user.profile.custom_url %}
                            <i class="fa fa-external-link"
                               aria-hidden="true">
                            </i>
                            {{ user.profile.custom_url }}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
